# Spark DataFrames Project Exercise

Let's get some quick practice with your new Spark DataFrame skills, you will be asked some basic questions about some stock market data, in this case Walmart Stock from the years 2012-2017. This exercise will just ask a bunch of questions, unlike the future machine learning exercises, which will be a little looser and be in the form of "Consulting Projects", but more on that later!

For now, just answer the questions and complete the tasks below.

#### Use the walmart_stock.csv file to Answer and complete the  tasks below!

#### Start a simple Spark Session

In [1]:
import findspark
findspark.init('/home/welly/spark-2.3.0-bin-hadoop2.7')
import pyspark

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName('Lab2pyspark').getOrCreate()

#### Load the Walmart Stock CSV File, have Spark infer the data types.

In [5]:
df = spark.read.csv('walmart_stock.csv',
                    inferSchema = True, header = True)

#### What are the column names? (2%)

In [6]:
df.columns

['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Adj Close']

#### What does the Schema look like? (3%)

In [7]:
df.printSchema()

root
 |-- Date: timestamp (nullable = true)
 |-- Open: double (nullable = true)
 |-- High: double (nullable = true)
 |-- Low: double (nullable = true)
 |-- Close: double (nullable = true)
 |-- Volume: integer (nullable = true)
 |-- Adj Close: double (nullable = true)

#### Print out the first 5 columns. (5%)

In [8]:
df.head(5)

[Row(Date=datetime.datetime(2012, 1, 3, 0, 0), Open=59.970001, High=61.060001, Low=59.869999, Close=60.330002, Volume=12668800, Adj Close=52.619234999999996),
 Row(Date=datetime.datetime(2012, 1, 4, 0, 0), Open=60.209998999999996, High=60.349998, Low=59.470001, Close=59.709998999999996, Volume=9593300, Adj Close=52.078475),
 Row(Date=datetime.datetime(2012, 1, 5, 0, 0), Open=59.349998, High=59.619999, Low=58.369999, Close=59.419998, Volume=12768200, Adj Close=51.825539),
 Row(Date=datetime.datetime(2012, 1, 6, 0, 0), Open=59.419998, High=59.450001, Low=58.869999, Close=59.0, Volume=8069400, Adj Close=51.45922),
 Row(Date=datetime.datetime(2012, 1, 9, 0, 0), Open=59.029999, High=59.549999, Low=58.919998, Close=59.18, Volume=6679300, Adj Close=51.616215000000004)]

#### Use describe() to learn about the DataFrame. (5%)

In [9]:
df.describe().show()

+-------+------------------+-----------------+-----------------+-----------------+-----------------+-----------------+
|summary|              Open|             High|              Low|            Close|           Volume|        Adj Close|
+-------+------------------+-----------------+-----------------+-----------------+-----------------+-----------------+
|  count|              1258|             1258|             1258|             1258|             1258|             1258|
|   mean| 72.35785375357709|72.83938807631165| 71.9186009594594|72.38844998012726|8222093.481717011|67.23883848728146|
| stddev|  6.76809024470826|6.768186808159218|6.744075756255496|6.756859163732991|  4519780.8431556|6.722609449996857|
|    min|56.389998999999996|        57.060001|        56.299999|        56.419998|          2094900|        50.363689|
|    max|         90.800003|        90.970001|            89.25|        90.470001|         80898100|84.91421600000001|
+-------+------------------+-----------------+-----------------+-----------------+-----------------+-----------------+

## Questions are coming!
#### There are too many decimal places for mean and stddev in the describe() dataframe. Format the numbers to just show up to two decimal places. Pay careful attention to the datatypes that .describe() returns, we didn't cover how to do this exact formatting, but we covered something very similar. [Check this link for a hint](http://spark.apache.org/docs/latest/api/python/pyspark.sql.html#pyspark.sql.Column.cast)

If you get stuck on this, don't worry, ask on FB group or send an e-mail to me.

#### printSchema. (5%)

In [10]:
newDF = df.describe()

In [11]:
newDF.printSchema()

root
 |-- summary: string (nullable = true)
 |-- Open: string (nullable = true)
 |-- High: string (nullable = true)
 |-- Low: string (nullable = true)
 |-- Close: string (nullable = true)
 |-- Volume: string (nullable = true)
 |-- Adj Close: string (nullable = true)

In [12]:
from pyspark.sql.functions import udf
from pyspark.sql.types import StringType, FloatType

In [13]:
def string_to_float(x):
    return float(x)

In [14]:
udfstring_to_float = udf(string_to_float, FloatType())

In [15]:
formatDF = newDF.withColumn("Open", udfstring_to_float("Open"))

In [16]:
formatDF = formatDF.withColumn("High",udfstring_to_float("High"))

In [17]:
formatDF = formatDF.withColumn("Low",udfstring_to_float("Low"))

In [18]:
formatDF = formatDF.withColumn("Close",udfstring_to_float("Close"))

In [19]:
formatDF = formatDF.withColumn("Volume",udfstring_to_float("Volume"))

In [20]:
formatDF = formatDF.withColumn("Adj Close",udfstring_to_float("Adj Close"))

In [21]:
formatDF = formatDF.withColumnRenamed("Adj Close", "AdjClose")

In [22]:
formatDF.printSchema()

root
 |-- summary: string (nullable = true)
 |-- Open: float (nullable = true)
 |-- High: float (nullable = true)
 |-- Low: float (nullable = true)
 |-- Close: float (nullable = true)
 |-- Volume: float (nullable = true)
 |-- AdjClose: float (nullable = true)

In [23]:
from pyspark.sql.functions import format_number

In [24]:
formatDF.select(
    'summary',
    format_number('Open',2).alias('Open'),
    format_number('High',2).alias('High'),
    format_number('Low',2).alias('Low'),
    format_number('Close',2).alias('Close'),
    format_number('Volume',2).alias('Volume'),
    format_number('AdjClose',2).alias('AdjClose'),
).show()

+-------+--------+--------+--------+--------+-------------+--------+
|summary|    Open|    High|     Low|   Close|       Volume|AdjClose|
+-------+--------+--------+--------+--------+-------------+--------+
|  count|1,258.00|1,258.00|1,258.00|1,258.00|     1,258.00|1,258.00|
|   mean|   72.36|   72.84|   71.92|   72.39| 8,222,093.50|   67.24|
| stddev|    6.77|    6.77|    6.74|    6.76| 4,519,781.00|    6.72|
|    min|   56.39|   57.06|   56.30|   56.42| 2,094,900.00|   50.36|
|    max|   90.80|   90.97|   89.25|   90.47|80,898,096.00|   84.91|
+-------+--------+--------+--------+--------+-------------+--------+

#### Create a new dataframe with a column called HV Ratio that is the ratio of the High Price versus volume of stock traded for a day. (10%) (Hints: withColumn,select)

In [26]:
H = df.withColumn('HV Ratio', df['High'] / df['Volume'])

In [27]:
H.select(['HV Ratio']).show()

+--------------------+
|            HV Ratio|
+--------------------+
|4.819714653321546E-6|
|6.290848613094555E-6|
|4.669412994783916E-6|
|7.367338463826307E-6|
|8.915604778943901E-6|
|8.644477436914568E-6|
|9.351828421515645E-6|
| 8.29141562102703E-6|
|7.712212102001476E-6|
|7.071764823529412E-6|
|1.015495466386981E-5|
|6.576354146362592...|
| 5.90145296180676E-6|
|8.547679455011844E-6|
|8.420709512685392E-6|
|1.041448341728929...|
|8.316075414862431E-6|
|9.721183814992126E-6|
|8.029436027707578E-6|
|6.307432259386365E-6|
+--------------------+
only showing top 20 rows

#### What day had the Peak High in Price? (8%) Hints:orderBy

In [28]:
peak = df.select(['Date','High','Volume'])

In [29]:
peak.orderBy(peak['High'].desc()).select('Date').head(5)[0]

Row(Date=datetime.datetime(2015, 1, 13, 0, 0))

#### What is the mean of the Close column? (7%)

In [31]:
from pyspark.sql.functions import avg

In [32]:
df.select(avg('Close')).show()

+-----------------+
|       avg(Close)|
+-----------------+
|72.38844998012726|
+-----------------+

#### What is the max and min of the Volume column? (15%) Hints: max,min

In [33]:
from pyspark.sql.functions import (max, min)

In [34]:
df.select(max('Volume'), min('Volume')).show()

+-----------+-----------+
|max(Volume)|min(Volume)|
+-----------+-----------+
|   80898100|    2094900|
+-----------+-----------+

#### How many days was the Close lower than 60 dollars? (20%) Hints:count,filter

In [35]:
df.filter('Close < 60').count()

81

# Great Job!